/* STYLİNG LOGO */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
}

.logo-svg {
  width: 3%;
  position: fixed;
  top: 10px;
  z-index: 90;
  left: 10px;
}

.moving-circle {
  animation: animatedBackground 5s linear infinite;
}
@keyframes animatedBackground {
  from {
    left: -50%;
  }
  to {
    left: 50%;
  }
}

/* STYLİNG LOGO */
